<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HIITtabata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BE554ED1D07EDD400AE4073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BE555011D07EDD400AE4073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BE5550C1D07EDD400AE4073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
